.headerContainer {
	padding: 1.3em;
	display: flex;
}

.headerText {
	flex: 1;
	font-size: 4rem;
	text-align: center;
	border-radius: 1rem;
	composes: secondary from '../../shared/colors.css';
	composes: primaryFill from '../../shared/colors.css';
};