.headerContainer {
	margin: 1em;
}

.headerText {
	font-size: 4rem;
	text-align: center;
	border-radius: 1rem;
	composes: secondary from '../../shared/colors.css';
	composes: primaryFill from '../../shared/colors.css';
};